<div class="page-layout simple fullwidth">
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>Maquettes</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24" fxLayout="column" fxLayoutAlign="stretch">
    <div class="mat-elevation-z8 item" fxFlex fxLayout="row">
      <table mat-table [dataSource]="all$" fxFlex>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Maquette</th>
          <td mat-cell *matCellDef="let maquette">
            {{ maquette.master.name }} ({{ maquette.schoolYear }})
          </td>
        </ng-container>

        <ng-container matColumnDef="prod">
          <th mat-header-cell *matHeaderCellDef>En Production</th>
          <td mat-cell *matCellDef="let maquette">{{ maquette.inProduction ? 'Oui' : 'Non' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let maquette">
            <button mat-button [matMenuTriggerFor]="menu">...</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item color="primary" [routerLink]="['..', 'detail', maquette.id]">
                View / Edit
              </button>
              <button mat-menu-item (click)="deleteMaquette(maquette.id)">Remove</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <div class="mat-elevation-z8 item p-12" fxFlex *ngIf="allMasters$ | async as masters">
      <h3>Nouvelle maquette</h3>
      <div fxLayout="row" fxLayoutAlign="space-around">
        <div>
          Master :
          <mat-form-field>
            <mat-label>Master</mat-label>
            <mat-select [(ngModel)]="master">
              <mat-option *ngFor="let master of masters" [value]="master">
                {{ master.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          Années :
          <mat-form-field>
            <input matInput placeholder="Années" [(ngModel)]="year" />
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button (click)="submitYear()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  <!-- / CONTENT -->
</div>

<ng-template #loading>
  LOADING
</ng-template>
