@import '../constants';
:host > div {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: $columns-grid;
}

app-semester-detail,
app-extra-module-detail {
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.label-extras {
  grid-column: 1 / -1;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.label-date {
  border-right: 1px solid black;
}

.total-header {
  grid-column: 1 / -1;
}

.cours-label,
.exam-label,
.total-label {
  grid-column: 1;
}
.cours-data,
.exam-data,
.total-data {
  grid-column: 2;
}
