<div class="p-24" [contextMenu]="ctxMenu">
  <h2 class="label-extras">Semestres</h2>
  <app-semester-detail *ngFor="let semester of year.semesters" [semester]="semester">
  </app-semester-detail>

  <h2 class="label-extras">Extras</h2>

  <div class="header label-name">Nom</div>
  <div class="header label-length">Durée</div>
  <div class="header label-date">Date</div>
  <app-extra-module-detail
    *ngFor="let extra of year.extras"
    [extraModule]="extra"
  ></app-extra-module-detail>

  <h2 class="total-header">Total</h2>
  <div class="cours-label">Cours</div>
  <div class="cours-data">{{ getTotalTD() }}</div>
  <div class="exam-label">Exam</div>
  <div class="exam-data">{{ getTotalExam() }}</div>
  <div class="total-label">Total</div>
  <div class="total-data">{{ getTotalCours() }}</div>
</div>

<context-menu #ctxMenu>
  <ng-template contextMenuItem (execute)="addNewSemester(year.id)">
    <!-- (execute)="addModule(semester.id)" -->
    <mat-icon>add</mat-icon>
    <span>Ajouter un semestre</span>
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="addNewExtra(year.id)">
    <mat-icon>add</mat-icon>
    <span>Ajouter un group d'extra</span>
  </ng-template>
</context-menu>
