<div class="header-block">
  <div class="header">Semestre {{ semester.number }}</div>

  <div class="enseignements">Enseignements</div>
  <div class="evaluations">Evaluations</div>
  <div class="info">Info</div>

  <div class="mat header-item">Matière</div>
  <div class="teacher header-item">Enseignant</div>
  <div class="com header-item">Commun</div>
  <div class="total-prof header-item">Total Prof</div>
  <div class="total-etu header-item">Total Etu</div>
  <div class="total-cours header-item">Total H Cours</div>
  <div class="total-td header-item">Total H Td</div>
  <div class="nmb-group header-item">Nb G Td</div>
  <div class="ects header-item">ECTS</div>
  <div class="coef-cc header-item">Coef CC</div>
  <div class="coef-exam header-item">Coef Ex</div>
  <div class="length-exam header-item">Durée EX</div>
  <div class="exam-type header-item">Type EX</div>
  <div class="is-in-english header-item">Cours en anglais</div>
  <div class="translation header-item">Trad Anglais</div>
  <div class="ratrappage header-item">Ratrapage</div>
</div>
<app-module-detail *ngFor="let module of semester.modules" [module]="module"></app-module-detail>
<div class="total legend-item">Total</div>
<div class="total-etu legend-item">{{ semester.totalEtu }}</div>
<div class="total-cours legend-item">{{ semester.totalAmphi }}</div>
<div class="total-td legend-item">{{ semester.totalTD }}</div>
<div class="total-ects legend-item">{{ semester.ects }}</div>
<div class="total-exam legend-item">{{ semester.totalExam }}</div>
