@import '../constants';

:host {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: $columns-grid;
  grid-gap: $column-gaps 0;
  align-items: stretch;

  &.last > div {
    border-bottom: 1px solid black;
  }

  > div {
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat {
  grid-column: $column-matiere;
  border-left: 1px solid black;
}
.teacher {
  grid-column: $column-prof;
}
.com {
  grid-column: $column-comun;
}
.total-prof {
  grid-column: $column-total-prof;
}
.total-etu {
  grid-column: $column-etu;
}
.total-cours {
  grid-column: $column-cours;
}
.total-td {
  grid-column: $column-td;
}
.nmb-group {
  grid-column: $column-nmb-group;
}
.ects {
  grid-column: $column-ects;
}
.coef-cc {
  grid-column: $column-coef-cc;
  border-left: 1px solid black;
}
.coef-exam {
  grid-column: $column-coef-ex;
}
.length-exam {
  grid-column: $column-exam-length;
}
.exam-type {
  grid-column: $column-exam-type;
}

.is-in-english {
  grid-column: $column-course-english;
  border-left: 1px solid black;
}

.translation {
  grid-column: $column-english-name;
}

.ratrappage {
  grid-column: $column-ratrapage;
}
