<div class="mat">{{ course.name }}</div>
<div class="teacher">TBD</div>
<div class="com">{{ course.commun }}</div>
<div class="total-prof">{{ course.totalProf }}</div>
<div class="total-etu">{{ course.totalEtu }}</div>
<div class="total-cours">{{ course.nmbAmphiHour }}</div>
<div class="total-td">{{ course.nmbTdHour }}</div>
<div class="nmb-group">{{ course.nmbGroupTd }}</div>
<div class="ects">{{ course.nmbEcts }}</div>
<div class="coef-cc">{{ course.coefCC }}</div>
<div class="coef-exam">{{ course.coefExam }}</div>
<div class="length-exam">{{ course.lengthExam }}</div>
<div class="exam-type">{{ course.examType }}</div>
<div class="is-in-english">{{ course.courseEnglish }}</div>
<div class="translation">{{ course.englishTranslation }}</div>
<div class="ratrappage">{{ course.ratrappage }}</div>
