<div class="content -24">
  <div class="page-layout simple fullwidth">
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Maquettes</h2>
    </div>

    <div class="content">
      <table mat-table [dataSource]="all$" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let master">{{ master.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let master">{{ master.description }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let master">
            <button mat-button [matMenuTriggerFor]="menu">...</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item color="primary" [routerLink]="['..', 'detail', master.id]">
                View
              </button>
              <button mat-menu-item>Edit</button>
              <button mat-menu-item (click)="deleteMaster(master.id)">Remove</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  LOADING
</ng-template>
